body {
}
.center-block{
    float:none;
    margin-left: auto;
    margin-right: auto;
}
.infoIcon{
    color: #0073bc;
    font-size: 16px;
}



/*Layout Page*/
#main-content-section{
    padding-top:112px;
}

navbar-static-top{
    position:fixed;
}
#top-nav-green{
    position:fixed;
    width: 100%;
}
#top-nav-gray{
    position:fixed;
    margin-top: 60px;
}
.profile-pic{
    padding: 0 30px 0 30px;
}
.nav-quick-btn{
    border:1px solid white;
}
.nav-quick-btn:hover{
    border:1px solid #00c292;
}
@media screen and (max-width: 767.5px) {
    #top-nav-gray {
        position: initial;
        margin-top: 0;
        padding-top: 59px;
    }
    #main-content-section{
    padding-top: 10px;
    
}
    .navbar-top-links .profile-pic img{
        margin-left:15px;
        margin-right:15px;
    }

}

/*Login Group*/
#registerform{
    display:none;
}
.login-box .white-box{
    background:none;
}
.login-box{
    margin:0;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 7px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-200px;
    margin-left:-50%;
    box-sizing: border-box;
    z-index: 100;
    color:white !important;
    border: 1px solid rgba(255, 255, 255, 0.29);
}
.login-box a , .login-box h3{
    color:white;
}
#demo-dropdown{
    background-color:rgba(0, 0, 0, 0);
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.login-box .btn-block{
    color:white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}
.login-box .btn-block:hover{
    color:black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
.login-box .btn-block:focus{
    color:black;
    background-color:lightgrey;
    border: 1px solid rgb(255, 255, 255);
}
#demo-dropdown{
    color:white !important;
    background-color: rgba(0, 0, 0, 0);

}
#demo-dropdown:hover{
    color:white !important;
    background-color: rgba(0, 0, 0, 0);
}
#demo-dropdown:focus, #demo-dropdown:active {
    color:white !important;
    background-color:rgba(0, 0, 0, 0);
}
.login-box .dropdown-menu{
    background: rgba(0, 0, 0, .85);
}
.login-box .form-control{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px rgba(255, 252, 252, 0.36) solid;
}
.login-box .form-control:active,.login-box .form-control:focus{
        border: 1px rgba(255, 252, 252, 1) solid;
}
.login-box .form-control::-webkit-input-placeholder{
    color:white;
}
.login-box a{
    color:white !important;
}
.login-box a:hover{
    color:lightgray !important;
}
.login-box .login-title{
    position:relative;
    bottom:30px;
    border:1px white solid;
    border-radius:3px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    background-color:black;
    margin-bottom:-55px;
}
/*Error Page Section*/
.error-body h1{
    font-size:8em;
    padding-bottom: 20px;
    line-height: 100px;
}

/*MyHousehold Page*/
.container-MyHousehold .panel{
overflow:hidden
}
.container-MyHousehold .panel-heading{
    padding-bottom:5px;
}
.container-MyHousehold .panel-wrapper{
    height:350px;
    overflow:auto;
    padding: 0 20px;
    
}
.container-MyHousehold .panel-heading{
    border-bottom:none;

}
#MyHousehold-Options-Wrapper .popover-title{
    background-color:#fb9678;
    color:white;
    font-weight:bolder;
}

.addUsersElement{
    display:none;
}
/*Accounts Dropdown-Popover Hack - TableBody*/
#myHousehold-Accounts-tablebody .popover-content{
    padding: 0;
    height: 0;
    bottom: 10px;
    position: relative;
    right: 20px;
}
#myHousehold-Accounts-tablebody .popover .arrow{
    display:none;
}
/*Accounts Popover - Table Head*/
.popover-info-anchor:hover{
    cursor:pointer;
}
#myHousehold-Accounts-Panel .popover-title{
    background-color: #03a9f3;
    color:white;
    font-weight:bolder;
}
#myHousehold-Accounts-Panel .popover-container .popover{
    width: 276px;
}
.info-anchor-paneltext{
    padding-top:5px;

}

.acc-name-td{
    width: 172px;
}
.acc-table .infoIcon{
    color: #0073bc;
    font-size: 16px;
    padding-top: 3px;
}





/*Edit Household Section*/
#addEmailParent > div:first-child{
    /*margin-top:10px;*/
}

/*User Index Page*/
.leave-household-btn + .popover .popover-title{
    color: #ffffff;
    background-color: #fb9678;
    border-color: #fb9678;
}
