
@{
    ViewBag.Title = "BudgetManage";
}
<div id="budgetManageContainer-Wrapper">

    <div id="displayAddBudgetWrapper">
    </div>
    <div id="displayBudgetsWrapper">
    </div>


</div>
@section Scripts {
<script>
    $(document).ready(function () {
    
        $("#displayAddBudgetWrapper").load("/Saver/_BudgetAddPartial");
        $("#displayBudgetsWrapper").load("/Saver/DisplayActiveBudgets");
    });
</script>
    }